Content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
      <title>Babraham Bioinformatics Helpdesk</title>
      <link rel=stylesheet type="text/css" href="/styles/top-style.css">
      <link rel=stylesheet type="text/css" href="/styles/helpdesk-style.css">
  </head>

  <body>
    <h1>Babraham Bioinformatics Helpdesk</h1>

    <div class="main_linkbar">
     <div class="login"><strong><!-- TMPL_VAR NAME=LOGIN_NAME --></strong> is logged in</div>
     <a href="helpdeskadmin.cgi">Home</a> | 
     <a href="helpdeskadmin.cgi?action=search">Search</a> | 
     <a href="helpdeskadmin.cgi?action=new_job">New Job</a> 
    </div>
