<!-- TMPL_INCLUDE NAME="admin_header.html" -->


  <h2 class="center">Edit Job</h2>

  <form method="POST" enctype="multipart/form-data">

    <input type="hidden" name="job_id" value="<!-- TMPL_VAR NAME=ID -->">

    <table class="dynamic">
      <tr>
	<th>Title</th>
	<td><input type="text" size=75 name="title" value="<!-- TMPL_VAR NAME=TITLE ESCAPE=HTML -->"</td>
      </tr>
      <tr>
	<th>Summary</th>

	<td><textarea name="summary" rows="20" cols="70"><!-- TMPL_VAR NAME=SUMMARY --></textarea></td>
      </tr>
      <tr>
	<th>User</th>
	<td><input type="text" size=75 name="user_email" value="<!-- TMPL_VAR NAME=USER_EMAIL ESCAPE=HTML -->"</td>
      </tr>
      <tr>
	<th>Budget</th>
	<td><input type="text" size=75 name="budget_code" value="<!-- TMPL_VAR NAME=BUDGET_CODE ESCAPE=HTML -->"</td>
      </tr>
      <tr>
	<th>Commercial</th>
	<td><input type="checkbox" name="commercial" <!-- TMPL_IF NAME=COMMERCIAL -->checked<!-- /TMPL_IF -->></td>
      </tr>
    </table>

    <p class="center"><input type="submit" name="action" value="Edit job"></p>
    </form>

<!-- TMPL_INCLUDE NAME="admin_footer.html" -->
