<!-- TMPL_INCLUDE NAME="header.html" -->

  <h2 class="center">New Job Created</h2>

  <p>
    Your support request was successful and a new job has
    been created.  You will be notified by email when this
    job has been completed.
  </p>

  <p>
    If you want to check on the progress of your job then
    you can use the identifer supplied below to view the
    current job status.  This identifier can be entered
    into the search box on the helpdesk toolbar.
  </p>

  <p class="center">The identifier for your job is...</p>

  <h1><!-- TMPL_VAR NAME=ID --></h1>

  <p class="center"><a href="helpdeskuser.cgi">Return to home</a></p>


<!-- TMPL_INCLUDE NAME="footer.html" -->
