Content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
      <title>Babraham Bioinformatics Helpdesk</title>
      <link rel=stylesheet type="text/css" href="/styles/top-style.css">
      <link rel=stylesheet type="text/css" href="/styles/helpdesk-style.css">
  </head>

  <body>
    <h1>Babraham Bioinformatics Helpdesk</h1>

<form method="GET">
    <div class="main_linkbar">
     <a href="helpdeskuser.cgi">Home</a> | 
     <a href="helpdeskuser.cgi?action=new_job">New Job</a> | 
     <strong>Go to job</strong> <input type="hidden" name="action" value="show_job"><input type="text" size="5" name="public_id"><input type="submit" value="Go"> 
    </div>
</form>
