<!-- TMPL_INCLUDE NAME="header.html" -->

  <p>
    Welcome to the Babraham Bioinformatics helpdesk.  You can use this
    system to put in a request for bioinformatics work, or to check on
    the progress of an existing support request.
  </p>

  <p>
    To create a new support request, use the "New Job" link in the 
    toolbar above.  To check on the progress of an existing request
    enter the request ID code into the "Go to job" box, and press Go.
  </p>

  <p>
   If you have any problems using this system, or have any suggestions
   as to how it could be improved then either enter it as a new
   support request, or send it to 
   <a href="mailto:simon.andrews@babraham.ac.uk">simon.andrews@babraham.ac.uk</a>
  </p>


<!-- TMPL_INCLUDE NAME="footer.html" -->
